/* GENERAL STYLING */

#index-banner {
    /*
    background-color: #ee6e73;
    color: #fff;
*/
}

.github-commit {
    padding: 14px 0;
    height: 64px;
    line-height: 36px;
    background-color: #5c5757;
    color: #e6e6e6;
    font-size: 0.9rem;
}

#responsive-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#github-button {
    background-color: #6f6d6d;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    margin: 0 5px;
}

#github-button:hover {
    background-color: #797777;
}

nav {
    background-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: 0;
    -moz-box-shadow: none;
}
/* APPLY LMU COLORS */

header {
    background-color: #0AA14C;
}

footer.page-footer {
    background-color: #0AA14C;
}
/* Custom styling / override default styles */

.btn-large {
    background-color: #009440;
}

.btn-large:hover {
    background-color: #0fbc5a;
}